body {
  font-family: "Lato", sans-serif;
}
.sidenav h1{
  margin-inline:1px;
  font-size: 28px;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #272323;
  overflow-x: hidden;
  padding-top: 60px;
}
.h1 {
  text-decoration-color: #f7f6f6;
  font-size: 25px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #f3e9e9;
  display: block;
}

.sidenav a img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.sidenav a:hover {
  color: #df2f2f;
}

.sidenav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 5px;
}

.publish-button,
.preview-button {
  padding: 10px 20px;
}

.publish-button {
  margin: 5px;
  background-color: #e992dd;
  color: rgb(0, 0, 0);
}

.publish-button:hover {
  background-color: #f8f8f8;
}

.preview-button {
  margin: 5px;
  background-color: #7eddfd;
  color: rgb(0, 0, 0);
}

.preview-button:hover {
  background-color: #ebf1f1;
}
#form-builder{
  display: flex;

}
#toolbox {
  width: 100px;
  min-height: 200px;
  padding: 20px;
  border: 5px solid white;
}
#toolbar .draggable{
  padding: 10px;
  margin-bottom: 10px;
  background-color: #0c0e0e;
  border:1px #0c0b0b;
  cursor: move;

}
#form-preview {
  padding: 250px;
  border:1px solid #dd1a1a;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 645px;
  margin-left: calc(150px + 50px);
  

}

.bottom-buttons {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 5px;
}

.button-clear,
.button-save{
  padding: 10px 25px;
}

.button-save {
  margin: 5px;
  background-color: #e992dd;
  color: rgb(0, 0, 0);
}
.button-save:hover{
  background-color: #ffffff;
}

.button-clear {
  margin: 5px;
  background-color: #92d8e9;
  color: rgb(12, 15, 15);
}
.button-clear:hover{
  background-color: #fcfcfc;
}
.layout{
  display: flex;
  flex-direction: row;
}
.layout-section{
  flex: 1;
  width: 400px;
  height: 200px;
  padding: 5px;
  border: 1px solid black;
  margin: 5px;

}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
    width: 250px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
